<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

<app-header></app-header>

<div id="container">
  <div style="float: left; width: 45%; margin-right: 10px">
    <div>
      <h1 style="display: inline-table; margin-bottom: 10px">Objectifs ({{objectifCount}})</h1>
      <button (click)="open(objectif)" style="float: right; margin-top: 20px" class="btn btn-primary">Ajouter</button>
    </div>
    <app-objectif></app-objectif>
  </div>
  <div style="float: right; width: 45%; margin-right: 10px">
    <div>
      <h1 style="display: inline-table; margin-bottom: 10px">Accomplissements ({{achievementCount}})</h1>
      <button (click)="open(accomplissement)" style="float: right; margin-top: 20px" class="btn btn-primary">Ajouter</button>
    </div>
    <app-achievement></app-achievement>
  </div>

  <div style=" width: 100%; height: 20%; margin-right: 10px; float: bottom ">
    <h1 style="display: inline-table; text-align: left; margin-bottom: 10px; margin-top: 50px">Dashboard</h1>
    <app-dashboard></app-dashboard>
  </div>



</div>




<!--popup ajouter objectif-->

<ng-template #objectif let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouté un objectif</h4>
    <button type="button" class="close" aria-label="Close" style="color: white" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="objectifForm" (ngSubmit)="onSubmitObjectif()">
      <div class="form-group">
        <label >Titre de l'objectif</label>
        <input placeholder="Titre" type="text" formControlName="objectifName" class="form-control"
               />
        <div *ngIf="submitted && objectifFormSubmitted.objectifName.errors" class="invalid-feedback">
          <div *ngIf="objectifFormSubmitted.objectifName.errors.required" class="alert">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Date de fin</label>
        <div class="input-group">
          <input formControlName="endDate" class="form-control"  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px">
          <label>Selectionnez la catégorie:</label>
          <br>
          <select id='peeps' name='people' style="padding: 7px" formControlName="categoryId" >
            <option *ngFor="let category of categories" [value]="category.categoryId">
              {{category.categoryName}}
            </option>
          </select>
        </div>
      </div>


      <div>
        <div class="modal-footer">
          <button   style="color: white;" class="btn btn-outline-dark" (click)="modal.close('Save click')" class="alert">Ajouter</button>
        </div>
      </div>
    </form>
  </div>


</ng-template>



<!--popup ajouter Accomplissement-->

<ng-template #accomplissement let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouté un Accomplissement</h4>
    <button type="button" class="close" aria-label="Close" style="color: white" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="achievementForm" (ngSubmit)="onSubmitAchievement()">
      <div class="form-group">
        <label >Titre</label>
        <input placeholder="Titre" type="text" formControlName="achievementName" class="form-control"
        />
        <div *ngIf="submitted && objectifFormSubmitted.objectifName.errors" class="invalid-feedback">
          <div *ngIf="objectifFormSubmitted.objectifName.errors.required" class="alert">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Description</label>
        <textarea rows="4" cols="50" placeholder="Titre" type="text" formControlName="description" class="form-control">
        </textarea>
        <div *ngIf="submitted && objectifFormSubmitted.objectifName.errors" class="invalid-feedback">
          <div *ngIf="objectifFormSubmitted.objectifName.errors.required" class="alert">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Date</label>
        <div class="input-group">
          <input formControlName="date" class="form-control"  placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
        <div class="form-group" style="margin-top: 20px">
          <label>Selectionnez la catégorie:</label>
          <br>
          <select id='peeps' name='people' style="padding: 7px" formControlName="categoryId" >
            <option *ngFor="let category of categories" [value]="category.categoryId">
              {{category.categoryName}}
            </option>
          </select>
        </div>
      </div>


      <div>
        <div class="modal-footer">
          <button   style="color: white;" class="btn btn-outline-dark" (click)="modal.close('Save click')" class="alert">Ajouter</button>
        </div>
      </div>
    </form>
  </div>


</ng-template>






