<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<body>
<div  style="overflow: auto; height: 400px ">
  <div style="margin-top: 25px; margin-bottom: 25px; ">
    <p id="empty" *ngIf="objectifs.length == 0">Aucun Objectif</p>
    <ul *ngFor="let objectif of objectifs">
      <li>
        <input type="checkbox" id="checkbox" (change)="achieved(objectif)" >
        <span>{{objectif.objectifName}}</span>
        <div style="float: right">
          <span style="margin-right: 5px; color: darkgray">Expire:</span>

          <span style="color: red" *ngIf="today > stringToDate(objectif.endDate.toString())">{{objectif.endDate}}</span>
          <span *ngIf="today < stringToDate(objectif.endDate.toString())">{{objectif.endDate}}</span>
          <span id="delete" (click)="deleteObjectifById(objectif.objectifId)">x</span>
        </div>
      </li>
    </ul>
  </div>
</div>



</body>

