<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<body>

<!--    <table class="table table-hover">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Title</th>-->
<!--        <th>category Id</th>-->
<!--        <th>Date de fin</th>-->
<!--        <th>Is achieved</th>-->
<!--        <th>userId</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let objectif of objectifs">-->
<!--        <td><span>{{objectif.objectifName}}</span></td>-->
<!--        <td><span>{{objectif.categoryId}}</span></td>-->
<!--        <td><span>{{objectif.endDate}}</span></td>-->
<!--        <td><span>{{objectif.isAchieved}}</span></td>-->
<!--        <td><span>{{objectif.userId}}</span></td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->


  <div style="margin-top: 25px; margin-bottom: 25px; ">
    <ul *ngFor="let objectif of objectifs">
      <li>
        <input type="checkbox" id="checkbox">
        <span>{{objectif.objectifName}}</span>
        <div style="float: right">
          <span style="margin-right: 5px; color: darkgray">Expire:</span>
          <span>{{objectif.endDate}}</span>
          <span id="delete" (click)="deleteObjectifById(objectif.objectifId)">x</span>
        </div>
      </li>
    </ul>
  </div>
</body>

