<!--
<body>
<div id="form">
  <h4 style="text-align: center" id="textLogin">Create Account</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="formgroup" style="display: inline" >
      <label for="Nom">Name</label>
      <input placeholder="email" type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
      </div>
    </div>
    <div class="formgroup" style="display: inline"  >
      <input placeholder="email" type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
      </div>
    </div>


    <div class="formgroup"  style="width: 100%;display:table" >
      <label for="username" style="display:table-cell">Email</label>
      <input placeholder="email" type="text" formControlName="username" class="form-control" style="width: 100%; display:table-cell"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
      </div>
    </div>
    <div class="formgroup" >
      <label for="password">Password</label>
      <br>
      <input placeholder="password" type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" class="alert">Password is required</div>
      </div>
    </div>
    <div class="formgroup">
      <label for="confirmPassword">Confirm Password</label>
      <br>
      <input placeholder="Confirm Password" type="password" formControlName="confirmPassword" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required" class="alert">Please confirm Password</div>
      </div>
    </div>
    <button  style="text-align: center">
      Sign Up
    </button>
    <div *ngIf="error" class="alert alert-danger " style="padding-top: 10px; font-style: italic; font-size: 12px">*Mot
      de passe ou email incorrecte
    </div>
    <div class="signup">
      <p >Already have an account?</p>
      <a routerLink="/login">sign in!</a>
    </div>
  </form>

</div>


</body> -->

<body>
<form id="form" >

  <!-- nom et prenom--->
  <h4 style="text-align: center" id="textLogin">Create Account</h4>
  <div class="formgroup" style="display: inline; ">
    <label for="Nom" style="margin-right: 27px">Name</label>
    <input placeholder="First name" type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }" style="margin-bottom: 25px"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
    </div>
  </div>
  <div class="formgroup" style="display: inline; width: 100%">
    <input placeholder="Last name" type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }" style="float: right; margin-left: 38px"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
    </div>
  </div>

  <!-- Email--->
  <div class="formgroup" style="width: 450px" >
    <label class="a" for="username" style="padding-right:48px">Email</label>
    <span class="b"><input placeholder="email" type="text" formControlName="username" class="c"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/></span>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
    </div>
  </div>


  <!-- Genre--->
  <div style="padding-bottom: 20px">
    <label class="a" for="username" style="display: inline; padding-right: 33px; ">Gender </label>
    <select id="cars" name="cars" style="padding-right: 10%">
      <option value="Man">Man</option>
      <option value="Woman">Woman</option>
      <option value="Autre">Autre</option>
    </select>
  </div>
<!-- Password -->
  <div class="formgroup" style="width: 450px" >
    <label class="a" for="username" >Password</label>
    <span class="b"><input placeholder="Password" type="text" formControlName="username" class="c"
                           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/></span>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
    </div>
  </div>
  <div class="formgroup" style="width: 450px" >
    <label class="a" for="username" >Confirm Password</label>
    <span class="b"><input placeholder="Confirm Password" type="text" formControlName="username" class="c"
                           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/></span>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="alert">Email is required</div>
    </div>
  </div>


  <button  style="text-align: center">
    Sign Up
  </button>
  <div *ngIf="error" class="alert alert-danger " style="padding-top: 10px; font-style: italic; font-size: 12px">*Mot
    de passe ou email incorrecte
  </div>
  <div class="signup">
    <p >Already have an account?</p>
    <a routerLink="/login">sign in!</a>
  </div>

</form>


</body>

